<nav class="navbar">
    <ul class="navbar-nav" data-scrollable="true">
        <li class="nav-item nav-header">Manage My Music</li>
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link" routerLinkActive="active"><i class="la la-home"></i><span>Dashboard</span></a>
        </li>
        <li class="nav-item">
            <a routerLink="/profile" class="nav-link" routerLinkActive="active"><i class="la la-diamond"></i><span>My Artist Profile</span></a>
        </li>
        <li class="nav-item">
            <a routerLink="/albums" class="nav-link" routerLinkActive="active"><i class="la la-music"></i><span>My Albums</span></a>
        </li>
        <li class="nav-item">
            <a routerLink="/tracks" class="nav-link" routerLinkActive="active"><i class="la la-microphone"></i><span>My Tracks</span></a>
        </li>
    </ul>    
</nav>