<!-- Begin | Sidebar Header -->
<div class="sidebar-header d-flex align-items-center">
    <a routerLink="/" class="brand">
        <img src="../assets/images/logos/logo.svg" alt="listen-app">
    </a>
<!-- 
    <button type="button" class="btn p-0 ml-auto" id="hideSidebar">
        <i class="ion-md-arrow-back h3"></i>
    </button>

    <button type="button" class="btn toggle-menu" id="toggleSidebar">
        <span></span>
        <span></span>
        <span></span>
    </button> -->
</div>
<!-- End | Sidebar Header -->

<!-- Begin | Navbar [[ Find at scss/framework/components/navbar/navbar.scss ]] -->
<router-outlet name="sidebar"></router-outlet>
<!-- End | Navbar -->

<!-- Begin | Sidebar Footer -->
<div class="sidebar-footer">
    <a href="add-music.html" class="btn btn-block btn-danger btn-air btn-bold">
        <i class="ion-md-musical-note"></i>
        <span>Add Music</span>
    </a>
</div>
<!-- End | Sidebar Footer -->