<div class="row section">
    <div class="col-xl-10 mx-auto">
      <div class="row">
        <div class="col-xl-4 col-md-5">
          <div class="card h-auto">
            <div class="card-body text-center">
              <div class="avatar profile-avatar avatar-circle mx-auto mb-4">
                <img src="../assets/images/users/thumb.jpg" alt="user" />
              </div>
              <h6 class="mb-3">Halo Admin</h6>
              <button type="button" class="btn btn-primary btn-air">
                Change Image
              </button>
            </div>
          </div>
          <div class="text-center">
            <button
              
              type="button"
              class="btn btn-danger btn-air"
            >
              Reset Password
            </button>
          </div>
        </div>
        <div class="col-xl-8 col-md-7">
          <div class="card h-auto">
            <div class="card-body">
              <form action="#" class="row">
                <div class="col-xl-6 form-group">
                  <label for="firstName" class="form-label">First Name</label>
                  <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    value="Halo"
                  />
                </div>
                <div class="col-xl-6 form-group">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input
                    type="text"
                    id="lastName"
                    class="form-control"
                    value="Admin"
                  />
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-primary btn-air">
                    Save Changes
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="card h-auto">
            <div class="card-body">
              <form action="#" class="row">
                <div class="col-12 form-group">
                  <label for="displayName" class="form-label"
                    >Email Address</label
                  >
                  <input
                    type="text"
                    id="displayName"
                    class="form-control"
                    value="Halo Admin"
                  />
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-primary btn-air">
                    Update Email
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row plan">
        <div class="col-xl-6 ">
    
        </div>
        <div class="col-xl-6 platforms">
          <div class="footer-content">
            <div class="platform-btn-inline">
              <a href="#" class="btn btn-dark btn-air platform-btn">
                <i class="ion-logo-android"></i>
                <div class="platform-btn-info">
                  <span class="platform-desc">Available on</span>
                  <span class="platform-name">Android</span>
                </div>
              </a>
              <a href="#" class="btn btn-danger btn-air platform-btn">
                <i class="ion-logo-apple"></i>
                <div class="platform-btn-info">
                  <span class="platform-desc">Available on</span>
                  <span class="platform-name">App Store</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  